# only add shareable .claude artifacts
.claude/*
!.claude/*.example
!.claude/agents
!.claude/CLAUDE.md
!.claude/hooks
!.claude/settings.json
!.claude/skills
# do not ignore .claude directories in nested directories, since these are custom configs, skills, etc.
!*/**/.claude

.artifacts
.artifacts/**
.devcontainer/logs/
domain
